{% extends "layout.html" %}
{% block body %}
  <div class=section>{{ event.name }}</div>
  <div class=container>
    <div class='event'>
      <div id="template">
        Email Template
        {% if template %}
        <div class="view-button" >View</div>
        <div class="edit-button">Edit</div>
        {% else %}
        <div class="create-button">Create</div>
        {% endif %}
      </div>
      <div id="recipients">
        Recipients
        {% if num_recipients %}
          <div class="info">
            {{ num_recipients }} recipients.
          </div>
        {% else %}
        {% endif %}
      </div>

      <div id="codes">
        Codes
        {% if code_info %}
          <div class="info">
            {% for code in code_info %}
              {{ code.name }}: {{ code.count }}
            {% endfor %}
          </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
  <script type=text/javascript>
    $(document).ready(function() {
      function addClearButton(section) {
        var clearButton = $('<div/>', {
          class: 'clear-button',
          text: 'Clear'
        });

        function addClickHandler() {
          var processing = false;
          clearButton.click(function() {
            if (!processing) {
              processing = true
              $.getJSON($SCRIPT_ROOT + '/clear/' + section, {
                event_id: {{event.id}}
              }, function(data) {
                // Change the page
                if (data['success']) {
                  addDropZone(section);
                  $('#'+section+' .clear-button').remove();
                  $('#'+section+' .info').remove();
                }
                processing = false;
              });
            }
          });
        }
        addClickHandler()
        clearButton.prependTo('#'+section);
      }

      function addDropZone(section) {
          var dropZone = $('<div/>', {
            class: 'drop_zone',
            text: 'Drop ' + section + ' file here.',
          });

          // Sends files to the upload method with the section argument
          function sendFiles(files, section) {
            // Prepare the files for upload
            var data = new FormData();
            $.each(files, function(key, value) {
              data.append(key, value)
            });

            // Upload the files
            $.ajax({
              type: 'post',
              url: $SCRIPT_ROOT + '/upload/' + section + '/' + {{event.id}},
              data: data,
              success: function(data) {
                // Update the view
                var info = data['info']
                if (section == 'recipients') {
                  var info_text = info + ' recipients.'
                } else {
                  var info_text = ''
                  for (var i = 0; i < info.length; i++) {
                    var type = info[i]
                    info_text += type['name'] + ': ' + type['count'] + ' codes.\n'
                  }
                }
                dropZone.remove()
                info_div = $('<div/>', {
                  class: 'info',
                  text: info_text,
                });
                info_div.appendTo('#' + section);
                addClearButton(section);
              },
              dataType: 'json',
              processData: false,
              contentType: false,
            });
          }

          // Handle drop zone file drop
          function handleFileDrop(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer = event.originalEvent.dataTransfer;
            $(dropZone).removeClass('dragover');
            var files = event.dataTransfer.files;
            sendFiles(files, section)
          }

          // Handle drag over drop zone
          function handleDragOver(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer = event.originalEvent.dataTransfer;
            event.dataTransfer.dropEffect = 'copy';
            $(dropZone).addClass('dragover');
          }

          function handleDragLeave(event) {
            event.stopPropagation();
            event.preventDefault();
            $(dropZone).removeClass('dragover');
          }

          dropZone.bind('dragover', handleDragOver);
          dropZone.bind('dragleave', handleDragLeave);
          dropZone.bind('drop', handleFileDrop);
          dropZone.appendTo('#' + section);
      }

      function addStatusButton() {
        var statusButton = $('<div/>', {
            class: 'status',
            text: 'View Distribution Status'
        });

        var processing = false;
        statusButton.click(function() {
          var url = "{{ url_for('view_status', event_id=event.id) }}"
          $(location).attr('href', url)
        });
        statusButton.appendTo('.event');
      }
      function addSendButton() {
        var sendButton = $('<div/>', {
            class: 'send',
            text: 'Send'
        });

        var processing = false;
        sendButton.click(function() {
          if (!processing) {
            processing = true;
            console.log('test');
            $.getJSON($SCRIPT_ROOT + '/events/send/' + {{event.id}}, {
            }, function(data) {
              // Change the page
              if (data['success']) {
                sendButton.remove();
                $('.clear-button').remove();
                $('.edit-button').remove();
                addStatusButton();
              }
              processing = false;
            });
          }
        });
        sendButton.appendTo('.event');
      }

      {% if code_info %}
        addClearButton('codes');
      {% else %}
        addDropZone('codes');
      {% endif %}

      {% if num_recipients %}
        addClearButton('recipients');
      {% else %}
        addDropZone('recipients');
      {% endif %}

      if ({{has_sent}}) {
        addStatusButton();
      } else {
        addSendButton();
      }

      // TEMPLATE BUTTONS
      $(function() {
        // Create Template
        $('#template .create-button').click(function() {
          var url = "{{ url_for('create_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });

        // View Template
        $('#template .view-button').click(function() {
          var url = "{{ url_for('view_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });

        // Edit Template
        $('#template .edit-button').click(function() {
          var url = "{{ url_for('edit_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });
      });
    }); </script>
{% endblock %}
