{% extends "layout.html" %}
{% block body %}
  <div class=section>{{ event.name }}</div>
  <div class=container>
    <div class='event'>
      <div id="template">
        Email Template
        {% if template %}
        <div class="view-button" >View</div>
        {% if not has_sent %}
          <div class="edit-button">Edit</div>
        {% endif %}
        {% else %}
        {% if not has_sent %}
          <div class="create-button">Create</div>
        {% endif %}
        {% endif %}
      </div>
      <div id="recipients">
        Recipients
        {% if num_recipients %}
          <div class="info">
            {{ num_recipients }} recipients.
          </div>
        {% else %}
        {% endif %}
      </div>

      <div id="codes">
        Codes
      </div>
    </div>
  </div>
  <script type=text/javascript>
    $(document).ready(function() {
      function  makeSafeForCSS(name) {
          return name.replace(/[^a-z0-9]/g, function(s) {
              var c = s.charCodeAt(0);
              if (c == 32) return '-';
              if (c >= 65 && c <= 90) return '_' + s.toLowerCase();
              return '__' + ('000' + c.toString(16)).slice(-4);
          });
      }


      // A counter to know when to light up the send button
      var numSatisfied = 0;
      function canSend(satisfied) {
        {% if template %}
          return satisfied == {{template.code_types | count}} + 1
        {% else %}
          return false;
        {% endif %}
      }

      function addClearButton(section) {
        var clearButton = $('<div/>', {
          class: 'clear-button',
          text: 'Clear'
        });

        function addClickHandler() {
          var url = $SCRIPT_ROOT + '/clear/'
          if (section != 'recipients') {
            url += 'codes/'
          }
          url += section
          var processing = false;
          clearButton.click(function() {
            if (!processing) {
              processing = true
              $.getJSON(url, {
                event_id: {{event.id}}
              }, function(data) {
                // Change the page
                if (data['success']) {
                  addDropZone(section);
                  $('#'+makeSafeForCSS(section)+' .clear-button').remove();
                  $('#'+makeSafeForCSS(section)+' .info').remove();
                }
                processing = false;
                numSatisfied--;
                $('.send').removeClass('available');
              });
            }
          });
        }
        addClickHandler()
        clearButton.prependTo('#'+makeSafeForCSS(section));
      }

      function addDropZone(section) {
          var dropZone = $('<div/>', {
            class: 'drop_zone',
            text: 'Drop ' + section + ' file here.',
          });

          // Sends files to the upload method with the section argument
          function sendFiles(files, section) {
            // Prepare the files for upload
            var data = new FormData();
            $.each(files, function(key, value) {
              data.append(key, value)
            });

            // Upload the files
            url = $SCRIPT_ROOT + '/upload/' + encodeURIComponent(section) + '/' + {{event.id}}
            console.log(url)
            $.ajax({
              type: 'post',
              url: url,
              data: data,
              success: function(data) {
                // Update the view
                var info = data['info']
                if (section == 'recipients') {
                  var info_text = info + ' recipients.'
                } else {
                  var info_text = ''
                  for (var i = 0; i < info.length; i++) {
                    var type = info[i]
                    if (type['name'] == section) {
                      info_text += type['count'] + ' codes.\n'
                    }
                  }
                }
                dropZone.remove()
                info_div = $('<div/>', {
                  class: 'info',
                  text: info_text,
                });
                info_div.appendTo('#' + makeSafeForCSS(section));
                addClearButton(section);
                numSatisfied++;
                if (canSend(numSatisfied)) {
                  $('.send').addClass('available');
                }
              },
              dataType: 'json',
              processData: false,
              contentType: false,
            });
          }

          // Handle drop zone file drop
          function handleFileDrop(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer = event.originalEvent.dataTransfer;
            $(dropZone).removeClass('dragover');
            var files = event.dataTransfer.files;
            sendFiles(files, section)
          }

          // Handle drag over drop zone
          function handleDragOver(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer = event.originalEvent.dataTransfer;
            event.dataTransfer.dropEffect = 'copy';
            $(dropZone).addClass('dragover');
          }

          function handleDragLeave(event) {
            event.stopPropagation();
            event.preventDefault();
            $(dropZone).removeClass('dragover');
          }

          dropZone.bind('dragover', handleDragOver);
          dropZone.bind('dragleave', handleDragLeave);
          dropZone.bind('drop', handleFileDrop);
          dropZone.appendTo('#' + makeSafeForCSS(section));
      }

      function addStatusButton() {
        var statusButton = $('<div/>', {
            class: 'status',
            text: 'View Distribution Status'
        });

        var processing = false;
        statusButton.click(function() {
          var url = "{{ url_for('view_status', event_id=event.id) }}"
          $(location).attr('href', url)
        });
        statusButton.appendTo('.event');
      }
      function addSendButton() {
        var sendButton = $('<div/>', {
            class: 'send',
            text: 'Send'
        });

        var processing = false;
        sendButton.click(function() {
          if (!processing) {
            processing = true;
            $.getJSON($SCRIPT_ROOT + '/events/send/' + {{event.id}}, {
            }, function(data) {
              // Change the page
              if (data['success']) {
                sendButton.remove();
                $('.clear-button').remove();
                $('.edit-button').remove();
                addStatusButton();
              }
              processing = false;
            });
          }
        });
        if (canSend(numSatisfied)) {
          sendButton.addClass('available');
        }
        sendButton.appendTo('.event');
      }

      function addCodeType(type) {
        var div = $('<div/>', {
            class: 'code',
            id: makeSafeForCSS(type),
            text: type
        });
        div.appendTo('#codes');
      }

      function addInfo(type, num) {
        var div = $('<div/>', {
            class: 'info',
            text: num + " codes."
        });
        div.appendTo('#' + makeSafeForCSS(type));
      }


      // mapping from code names to counts
      code_info = new Array();
      {% for entry in code_info %}
        code_info["{{entry.name}}"] = {{entry.count}}
      {% endfor %}
      {% for type in template.code_types %}
        type = "{{type}}"
        addCodeType(type)
        if (code_info[type] == 0 || code_info[type] == undefined) {
          addDropZone(type)
        } else {
          {% if not has_sent %}
            addClearButton(type);
          {% endif %}
          numSatisfied++;
          addInfo(type, code_info[type]);
        }
      {% endfor %}

      {% if num_recipients %}
        {% if not has_sent %}
          addClearButton('recipients');
        {% endif %}
      {% else %}
        addDropZone('recipients');
      {% endif %}

      if ({{has_sent}}) {
        addStatusButton();
      } else {
        addSendButton();
      }

      // TEMPLATE BUTTONS
      $(function() {
        // Create Template
        $('#template .create-button').click(function() {
          var url = "{{ url_for('create_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });

        // View Template
        $('#template .view-button').click(function() {
          var url = "{{ url_for('view_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });

        // Edit Template
        $('#template .edit-button').click(function() {
          var url = "{{ url_for('edit_template', event_id=event.id) }}"
          $(location).attr('href', url)
        });
      });
    }); </script>
{% endblock %}
