{% extends "layout.html" %}
{% block body %}
  <div class=container>
    <div class=login>
      <form>
        <h1>Login</h1>
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
      </form>
    </div>

    <div class=signup>
      {% from "_formhelpers.html" import render_field %}
      <form method=post action="/register">
        <dl>
          {{ render_field(form.email) }}
          {{ render_field(form.password) }}
          {{ render_field(form.confirm) }}
        </dl>
        <input type=submit value=Register>
      </form>
      <!--
      <form>
        <h1>Signup</h1>
        <label for="Email">Password</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <label for="repeated">Repeated password</label>
        <input type="password" name="repeated">
        <input type="submit" value="Signup">
      </form>
      -->
    </div>
  </div>
{% endblock %}
